[submodule "externals/minecraftlib"]
	path = externals/minecraftlib
	url = git://github.com/pdelvo/Pdelvo.Minecraft.git
[submodule "externals/asynclib"]
	path = externals/asynclib
	url = git://github.com/pdelvo/Pdelvo.Async.Extensions.git
